@media (max-width: 940px) {
    
    /* .menu-btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 1;
        border: none;
        cursor: pointer;
        position: relative;
    } */
    .btn-line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;
        transition: .3s ease;
    }
    .btn-line:nth-child(1) {
        top: 0;
    }
    .btn-line:nth-child(2) {
        top: 20px;
    }
    .btn-line:nth-child(3) {
        top: 20px;
    }
    .btn-line:nth-child(4) {
        top: 40px;
    }
    .menu-open .btn-line:nth-child(1){
        transform: scaleX(0);
    }
    .menu-open .btn-line:nth-child(2){
        transform: rotate(45deg);
    }
    .menu-open .btn-line:nth-child(3){
        transform: rotate(-45deg);
    }
    .menu-open .btn-line:nth-child(4){
        transform: scaleX(0);
    }
    .menu {
        display: none;
    }
    .images-new {
        display: none;
    }
    .new-text p,.new-text b {
        max-width: 100%;
        text-align: justify;
    }
    .phone {
        text-align: center;
    }